mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.login-form {
  width: 20%;
  margin: auto;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.content {
  padding: 1rem;
}

.title {
  padding: 16px 16px 0 16px;
}

.signup {
  margin-left: 66%;
}
